.header-main {
    width: 100%;

}

.header-one-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
    background-color: #f1c22e;
}

.header-one-right {
    background-color: rgba(255, 255, 255, 0.949);
    padding: 8px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.522);
}

.headerone-icons {
    height: 32px;
    width: 32px;
    padding: 0px;
    margin-right: 8px;
    padding-bottom: 4px;

}

.headerone-icons:hover {
    transform: scale(1.15);
    transition: .3s;
    border-bottom: 1px solid grey;
}

.headerone-number {
    font-size: 22px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 200px;
    text-align: center;
}

.headerone-number:hover {
    color: rgb(156, 220, 133);
    text-decoration: underline;
    transition: .5s ease-in;

}

/* headerTwo-main started*/
.headerTwo-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.404);
}

.header-logo {
    width: 100px;
    height: 80px;
}

.headertwo-menu {
    width: 35px;
    height: 35px;
}

.header-nav-list {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    margin: 0px;
}

.sm-icons-con {
    justify-content: flex-end;
    margin-left: auto;
}

.header-nav-items {
    margin-right: 6px;
    margin-left: 6px;
}

.header-nav-items-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    padding-bottom: 4px;
    font-size: 18px;
}



.header-nav-items-link {
    position: relative;
    color: inherit;
    text-decoration: none;
}

.header-nav-items-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(141, 4, 61);
    /* Change to your desired border color */
    transition: width 0.3s ease;
}

.header-nav-items-link:hover::after {
    width: 100%;
}

.header-cart-container {
    margin-right: 12px;
    height: 50px;
    display: flex;
    align-items: center;
}

.header-cart-count {
    align-self: flex-start;
    margin-left: -8px;
    margin-bottom: 0px;
    background-color: rgb(31, 79, 130);
    font-weight: 500;
    height: 20px;
    width: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
}

.menu-main {
    width: 100vh;
    height: 100vh;
    align-self: flex-start;
}

.menu-main-inner {
    width: 50%;
    height: 100vh;
    min-width: 200px;
    max-width: 350px;
    background-color: rgba(0, 0, 0, 0.699);
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.close-button-menu {
    color: red;
    border: 2px solid white;
    padding: 8px;
    margin: 0px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    font-weight: bolder;
    align-self: flex-end;
    margin: 20px;
}

.sm-menu-list {
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 50px;
}

.sm-menu-item {
    margin-top: 8px;
}

.header-nav-items-link-sm {
    text-decoration: none;
    color: white !important;
}

.sm-menu-footer {
    width: 100%;
    height: 60px;
    background-color: #f1c22e;
    padding: -12px;
}