@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reddit+Mono:wght@200..900&display=swap');

.main-home {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-landing {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-position: right;
    background-size: cover;


}

.main-landing-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-landing-right {
    width: 50%;
    display: none;

}

@media (min-width:768px) {
    .main-landing-left {
        width: 50%;

    }

    .main-landing-right {
        display: flex;
    }
}

.landing-text-section {
    width: 80%;
    color: white;
    text-shadow: 4px 4px 4px black;
}

.landing-des {
    font-size: 30px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
    color: yellow;
}

.landing-heading {
    font-size: 52px;
    font-family: open-serif;
    font-weight: bolder;
    margin-bottom: 16px;
}

.landing-button {
    width: 136px;
    background-color: rgb(67, 5, 31);
    font-weight: bold;
    font-family: sans-serif;
    box-shadow: 2px 2px 4px black;
    color: white;
}

.landing-button:hover {
    color: white;
    text-shadow: 2px 2px 4px black;
    background-color: rgba(67, 5, 31, 0.23);
}

/* program started */

.program-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.program-card {
    width: 80%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 16px;
    padding-bottom: 50px;

}

.program-card:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.259);
    transition: .4s;

}

@media (min-width:768px) {
    .program-main {
        width: 90%;
        flex-wrap: nowrap;
    }

    .program-card {
        width: 33%;
        margin-top: -80px;
        background-color: red;
        margin-right: 4px;
        margin-left: 4px;
    }
}

.program-card-head {
    background-color: red;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -56px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.program-card-head-icons {
    font-size: 36px;
    color: white;

}

.program-card-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: white;
    width: 90%;
    margin-bottom: 12px;
}

.program-card-sub-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: rgb(23, 1, 38);
    margin-bottom: 22px;
}

.program-card-des {
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.welcome-main {
    width: 90%;
    align-self: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(11, 1, 1, 0.433);
    border-radius: 12px;
}

.welcome-inner {
    margin-top: 12px;
    width: 100%;
    padding: 18px;
    padding-right: 10px;
    box-sizing: border-box;
}

@media (min-width:992px) {
    .welcome-main {
        flex-direction: row;
    }
}

.welcome-image {
    width: 80%;
}

.welcome-welcome {
    font-size: 30px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
    color: rgb(76, 2, 49);
    margin-bottom: 12px;
}

.welcome-welcome-des {
    color: grey;
    font-size: 18px;
}

.welcome-button {
    width: 130px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgb(69, 8, 37);
    color: rgb(69, 8, 37);
    font-weight: bold;
    align-self: center;
    margin-top: 12px;
}

.welcome-button:hover {
    color: white;
    background-color: rgb(69, 8, 37);
    transition: .7s ease-in-out;
}

/* company detail section filling */
.company-detail-count-main {
    background-image: url('https://marketplace.canva.com/EAENvp21inc/1/0/1600w/canva-simple-work-linkedin-banner-qt_TMRJF4m0.jpg');
    width: 100%;
    min-height: 240px;
    background-size: cover;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: -1;
}

.company-detail-count-inner {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 12px;
    margin-left: 12px;
}

.company-detail-count-inner-heading {

    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform: rotate(45deg);
    border-radius: 12px;
}

.company-detail-count-inner-heading-content {
    transform: rotate(-45deg);
    font-size: 32px;

    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}



.company-detail-count-inner-des {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.popula-heading {
    width: 90%;
    align-self: center;
    margin-top: 32px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: sienna;
}

.home-seemore-event {
    width: 150px;
    align-self: center;
    margin-bottom: 20px;
    height: 36px;
    color: white;
    font-weight: bold;
    background-color: green;
    box-shadow: 2px 2px 4px grey;
}

.choose-main {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url('https://images.pexels.com/photos/1037994/pexels-photo-1037994.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
}

.choose-main-inner {
    width: 100%;
    height: 100%;
    background-color: rgba(125, 5, 91, 0.373);
    padding: 20px;
}

.choose-main-des {
    font-size: 32px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(66, 27, 5);
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
}

.choose-main-heading {
    margin-top: 42px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(5, 63, 25);
    font-size: 32px;
}

.choose-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.choose-footer-left {
    width: 100%;
}

.choose-footer-right {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (min-width:768px) {
    .choose-footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        justify-content: space-between;
    }

    .choose-footer-left {
        width: 55%;
    }

    .choose-footer-right {
        width: 40%;
    }
}

.footer-long-des {
    color: #f8f8f8;
    font-weight: bold;
}

.choose-list {
    list-style-type: none;
    width: 100%;

}

.choose-item {
    display: flex;
    align-items: flex-start;
    margin-top: 8px;
}

.tic-image {

    width: 50px;
    height: 50px;
    margin-right: 8px;
    border-radius: 50%;
    /* background-color: white;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 2px 2px 4px grey; */
}

.choose-item-content {
    color: white;
}

.choose-footer-image {
    width: 80%;
    max-width: 400px;
    box-shadow: 2px 2px 4px black;
    background-color: white;
    border-radius: 12px;
}